<!DOCTYPE html>
<html>
<head>
	<title>e-commerce</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/act.css" />
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css">
    
</head>
<body>
	<section class="header">
				<nav>
				   <ul id="ul">
					   <li>
						 <a href="index.html">
							 <i class="fa fa-home icon" aria-hidden="true"></i>
							  Accueil
						  </a>
					   </li>
					   <li>
						  <a href="signin.html"> <i class="fa fa-sign-in"></i>
						   Nouvelles
						 </a>
					   </li>
					   <li>
						 <a href="signup.html"><i class="fa fa-address-book-o"></i>
						 Nos Activités </a>
					   </li>
					   <li>
						<a href="signup.html"><i class="fa fa-address-book-o"></i>
						Partenaires </a>
					  </li>
					  <li>
						<a href="signup.html"><i class="fa fa-address-book-o"></i>
						Contact </a>
					  </li>
				   </ul>
				 </nav>
		</div>
    <div class="one">
  <h1 class="text2"> Une laureante  de la distinction sen se Penche sur <br>l'impact de son travail de son travail
       </h1>
       <p> six ans apres sa disctiuon elle   ssbbsbbssssbbbbs bb  c c chhnxhd six ans apres sa disctiuon elle   ssbbsbbssssbbbbs bb  c c chhnxhd
            six ans apres sa disctiuon elle   ssbbsbbssssbbbbs bb  c c chhnxhd six ans apres sa disctiuon elle   ssbbsbbssssbbbbs bb  c c chhnxhd<br>
            six ans apres sa disctiuon elle   ssbbsbbssssbbbbs bb  c c chhnxhd
       </p>
    </div class="title1">	
    <h2> tout le habite de la place ses sont mis a crier la victoire de leurs suaveur pour la chance tout le habite de la place ses sont mis a crier la victoire de leurs suaveur pour la chance
            tout le habite de la place ses sont mis a crier la victoire de leurs suaveur pour la chance tout le habite de la place ses sont mis a crier la victoire de leurs suaveur pour la chance tout le habite de la place ses sont mis a crier la victoire de leurs suaveur pour la chance </h2>
    <style>
  div,.one{
      background-image: url('images/bebe.jpeg');
  }

    </style>

</body>
</html>