<footer class="myFooter">
    <p class="Contact">Contact information: glodiehamul@gmail.com</p>
    <p class="Copyright">Copyright 2019.</p>
    </footer>
    </body>
    </html>
      
     </div>
    
    </body>
    </html>