<% include left.ejs %>
	   
	   <div>
		<h1 class="choose">Qui Sommes nous ?</h1>
			<p class="box">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme
				e-commerce allow you to make some quick trafics online without many probleme
				e-commerce allow you to make some quick trafics online without many probleme
				e-commerce allow you to make some quick trafics online without many probleme
				e-commerce allow you to make some quick trafics online without many probleme
			</p>
</div>
<div class="flex">
   <div class="backgroundImage">
   <img src="images/help.jpeg" width="650px">
</div> 
</div>
<div>
	<h1 class="choos"> Article Recents</h1>
</div>
<div class="myFlex">
<div class="article1">
<div class="images">
		<img src="images/bebe.jpeg" width="280px">
		<h1 class="title1">Title de l'article</h1>
</div>
<div>
<p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
		</div>
		<a href="">
		<div class="details">
				<i>Details</i>
		</div></a>
	</div>
	<div class="article1">
			<div class="images">
					<img src="images/bebe.jpeg" width="280px">
					<h1 class="title1">Title de l'article</h1>
			</div>
			<div>
			<p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
					</div>
					<a href="">
					<div class="details">
							<i>Details</i>
					</div></a>
				</div>
				<div class="article1">
						<div class="images">
								<img src="images/bebe.jpeg" width="280px">
								<h1 class="title1">Title de l'article</h1>
						</div>
						<div>
						<p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
								</div>
								<a href="">
								<div class="details">
										<i>Details</i>
								</div></a>
							</div>
							
</div>
   <div>
		<h1 class="choosee">Notre Objectif</h1>
			<p class="boxe">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme
			</p>
</div>
<% include footer.ejs %>