<% include left.ejs %>

<h1 class="Categorie"> Par Categorie</h1>
<input type="text" name="seqrch" placeholder="Chercher un article ..." class="inputs"> 
<h1 class="Categori">Santé</h1>
 <div class="myFlex">
 <div class="article2">
 <div class="image"> 
         <img src="images/bebe.jpeg" width="180px">
         <h1 class="title2">Title de l'article</h1>
 </div>
 <div>
 <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
         </div>
         <a href="">
         <div class="detail">
                 <i class="i">Details</i>
         </div></a>
     </div>
     <div class="article2">
        <div class="image">
                <img src="images/bebe.jpeg" width="180px">
                <h1 class="title2">Title de l'article</h1>
        </div>
        <div>
        <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                </div>
                <a href="">
                <div class="detail">
                        <i class="i">Details</i>
                </div></a>
            </div>
            <div class="article2">
                <div class="image">
                        <img src="images/bebe.jpeg" width="180px">
                        <h1 class="title2">Title de l'article</h1>
                </div>
                <div>
                <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                        </div>
                        <a href="">
                        <div class="detail">
                                <i class="i">Details</i>
                        </div></a>
                    </div>
                    <div class="article2">
                        <div class="image">
                                <img src="images/bebe.jpeg" width="180px">
                                <h1 class="title2">Title de l'article</h1>
                        </div>
                        <div>
                        <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                </div>
                                <a href="">
                                <div class="detail">
                                        <i class="i">Details</i>
                                </div></a>
                            </div>
                            <div class="article2">
                                <div class="image">
                                        <img src="images/bebe.jpeg" width="180px">
                                        <h1 class="title2">Title de l'article</h1>
                                </div>
                                <div>
                                <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                        </div>
                                        <a href="">
                                        <div class="detail">
                                                <i class="i">Details</i>
                                        </div></a>
                                    </div>
                            </div>
                            <h1 class="Categori">Education </h1>
 <div class="myFlex">
 <div class="article2">
 <div class="image">
         <img src="images/bebe.jpeg" width="180px">
         <h1 class="title2">Title de l'article</h1>
 </div>
 <div>
 <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
         </div>
         <a href="">
         <div class="detail">
                 <i class="i">Details</i>
         </div></a>
     </div>
     <div class="article2">
        <div class="image">
                <img src="images/bebe.jpeg" width="180px">
                <h1 class="title2">Title de l'article</h1>
        </div>
        <div>
        <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                </div>
                <a href="">
                <div class="detail">
                        <i class="i">Details</i>
                </div></a>
            </div>
            <div class="article2">
                <div class="image">
                        <img src="images/bebe.jpeg" width="180px">
                        <h1 class="title2">Title de l'article</h1>
                </div>
                <div>
                <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                        </div>
                        <a href="">
                        <div class="detail">
                                <i class="i">Details</i>
                        </div></a>
                    </div>
                    <div class="article2">
                        <div class="image">
                                <img src="images/bebe.jpeg" width="180px">
                                <h1 class="title2">Title de l'article</h1>
                        </div>
                        <div>
                        <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                </div>
                                <a href="">
                                <div class="detail">
                                        <i class="i">Details</i>
                                </div></a>
                            </div>
                            <div class="article2">
                                <div class="image">
                                        <img src="images/bebe.jpeg" width="180px">
                                        <h1 class="title2">Title de l'article</h1>
                                </div>
                                <div>
                                <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                        </div>
                                        <a href="">
                                        <div class="detail">
                                                <i class="i">Details</i>
                                        </div></a>
                                    </div>
                                    </div>
                                    <h1 class="Categori">Environement</h1>
                                    <div class="myFlex">
                                    <div class="article2">
                                    <div class="image">
                                            <img src="images/bebe.jpeg" width="180px">
                                            <h1 class="title2">Title de l'article</h1>
                                    </div>
                                    <div>
                                    <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                            </div>
                                            <a href="">
                                            <div class="detail">
                                                    <i class="i">Details</i>
                                            </div></a>
                                        </div>
                                        <div class="article2">
                                           <div class="image">
                                                   <img src="images/bebe.jpeg" width="180px">
                                                   <h1 class="title2">Title de l'article</h1>
                                           </div>
                                           <div>
                                           <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                   </div>
                                                   <a href="">
                                                   <div class="detail">
                                                           <i class="i">Details</i>
                                                   </div></a>
                                               </div>
                                               <div class="article2">
                                                   <div class="image">
                                                           <img src="images/bebe.jpeg" width="180px">
                                                           <h1 class="title2">Title de l'article</h1>
                                                   </div>
                                                   <div>
                                                   <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                           </div>
                                                           <a href="">
                                                           <div class="detail">
                                                                   <i class="i">Details</i>
                                                           </div></a>
                                                       </div>
                                                       <div class="article2">
                                                           <div class="image">
                                                                   <img src="images/bebe.jpeg" width="180px">
                                                                   <h1 class="title2">Title de l'article</h1>
                                                           </div>
                                                           <div>
                                                           <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                   </div>
                                                                   <a href="">
                                                                   <div class="detail">
                                                                           <i class="i">Details</i>
                                                                   </div></a>
                                                               </div>
                                                               <div class="article2">
                                                                   <div class="image">
                                                                           <img src="images/bebe.jpeg" width="180px">
                                                                           <h1 class="title2">Title de l'article</h1>
                                                                   </div>
                                                                   <div>
                                                                   <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                           </div>
                                                                           <a href="">
                                                                           <div class="detail">
                                                                                   <i class="i">Details</i>
                                                                           </div></a>
                                                                       </div>
                                                               </div>
                                                               <h1 class="Categori">Sécurité</h1>
                                    <div class="myFlex">
                                    <div class="article2">
                                    <div class="image">
                                            <img src="images/bebe.jpeg" width="180px">
                                            <h1 class="title2">Title de l'article</h1>
                                    </div>
                                    <div>
                                    <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                            </div>
                                            <a href="">
                                            <div class="detail">
                                                    <i class="i">Details</i>
                                            </div></a>
                                        </div>
                                        <div class="article2">
                                           <div class="image">
                                                   <img src="images/bebe.jpeg" width="180px">
                                                   <h1 class="title2">Title de l'article</h1>
                                           </div>
                                           <div>
                                           <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                   </div>
                                                   <a href="">
                                                   <div class="detail">
                                                           <i class="i">Details</i>
                                                   </div></a>
                                               </div>
                                               <div class="article2">
                                                   <div class="image">
                                                           <img src="images/bebe.jpeg" width="180px">
                                                           <h1 class="title2">Title de l'article</h1>
                                                   </div>
                                                   <div>
                                                   <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                           </div>
                                                           <a href="">
                                                           <div class="detail">
                                                                   <i class="i">Details</i>
                                                           </div></a>
                                                       </div>
                                                       <div class="article2">
                                                           <div class="image">
                                                                   <img src="images/bebe.jpeg" width="180px">
                                                                   <h1 class="title2">Title de l'article</h1>
                                                           </div>
                                                           <div>
                                                           <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                   </div>
                                                                   <a href="">
                                                                   <div class="detail">
                                                                           <i class="i">Details</i>
                                                                   </div></a>
                                                               </div>
                                                               <div class="article2">
                                                                   <div class="image">
                                                                           <img src="images/bebe.jpeg" width="180px">
                                                                           <h1 class="title2">Title de l'article</h1>
                                                                   </div>
                                                                   <div>
                                                                   <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                           </div>
                                                                           <a href="">
                                                                           <div class="detail">
                                                                                   <i class="i">Details</i>
                                                                           </div></a>
                                                                       </div>
                                                                       </div>
                                                                       <h1 class="Categori">Droit Humanitaire</h1>
                                                                       <div class="myFlex">
                                                                       <div class="article2">
                                                                       <div class="image">
                                                                               <img src="images/bebe.jpeg" width="180px">
                                                                               <h1 class="title2">Title de l'article</h1>
                                                                       </div>
                                                                       <div>
                                                                       <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                               </div>
                                                                               <a href="">
                                                                               <div class="detail">
                                                                                       <i class="i">Details</i>
                                                                               </div></a>
                                                                           </div>
                                                                           <div class="article2">
                                                                              <div class="image">
                                                                                      <img src="images/bebe.jpeg" width="180px">
                                                                                      <h1 class="title2">Title de l'article</h1>
                                                                              </div>
                                                                              <div>
                                                                              <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                      </div>
                                                                                      <a href="">
                                                                                      <div class="detail">
                                                                                              <i class="i">Details</i>
                                                                                      </div></a>
                                                                                  </div>
                                                                                  <div class="article2">
                                                                                      <div class="image">
                                                                                              <img src="images/bebe.jpeg" width="180px">
                                                                                              <h1 class="title2">Title de l'article</h1>
                                                                                      </div>
                                                                                      <div>
                                                                                      <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                              </div>
                                                                                              <a href="">
                                                                                              <div class="detail">
                                                                                                      <i class="i">Details</i>
                                                                                              </div></a>
                                                                                          </div>
                                                                                          <div class="article2">
                                                                                              <div class="image">
                                                                                                      <img src="images/bebe.jpeg" width="180px">
                                                                                                      <h1 class="title2">Title de l'article</h1>
                                                                                              </div>
                                                                                              <div>
                                                                                              <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                                      </div>
                                                                                                      <a href="">
                                                                                                      <div class="detail">
                                                                                                              <i class="i">Details</i>
                                                                                                      </div></a>
                                                                                                  </div>
                                                                                                  <div class="article2">
                                                                                                      <div class="image">
                                                                                                              <img src="images/bebe.jpeg" width="180px">
                                                                                                              <h1 class="title2">Title de l'article</h1>
                                                                                                      </div>
                                                                                                      <div>
                                                                                                      <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                                              </div>
                                                                                                              <a href="">
                                                                                                              <div class="detail">
                                                                                                                      <i class="i">Details</i>
                                                                                                              </div></a>
                                                                                                          </div>
                                                                                                  </div>
                                                                                                  <h1 class="Categori">Lutter contre la pauvreté</h1>
                                                                       <div class="myFlex">
                                                                       <div class="article2">
                                                                       <div class="image">
                                                                               <img src="images/bebe.jpeg" width="180px">
                                                                               <h1 class="title2">Title de l'article</h1>
                                                                       </div>
                                                                       <div>
                                                                       <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                               </div>
                                                                               <a href="">
                                                                               <div class="detail">
                                                                                       <i class="i">Details</i>
                                                                               </div></a>
                                                                           </div>
                                                                           <div class="article2">
                                                                              <div class="image">
                                                                                      <img src="images/bebe.jpeg" width="180px">
                                                                                      <h1 class="title2">Title de l'article</h1>
                                                                              </div>
                                                                              <div>
                                                                              <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                      </div>
                                                                                      <a href="">
                                                                                      <div class="detail">
                                                                                              <i class="i">Details</i>
                                                                                      </div></a>
                                                                                  </div>
                                                                                  <div class="article2">
                                                                                      <div class="image">
                                                                                              <img src="images/bebe.jpeg" width="180px">
                                                                                              <h1 class="title2">Title de l'article</h1>
                                                                                      </div>
                                                                                      <div>
                                                                                      <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                              </div>
                                                                                              <a href="">
                                                                                              <div class="detail">
                                                                                                      <i class="i">Details</i>
                                                                                              </div></a>
                                                                                          </div>
                                                                                          <div class="article2">
                                                                                              <div class="image">
                                                                                                      <img src="images/bebe.jpeg" width="180px">
                                                                                                      <h1 class="title2">Title de l'article</h1>
                                                                                              </div>
                                                                                              <div>
                                                                                              <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                                      </div>
                                                                                                      <a href="">
                                                                                                      <div class="detail">
                                                                                                              <i class="i">Details</i>
                                                                                                      </div></a>
                                                                                                  </div>
                                                                                                  <div class="article2">
                                                                                                      <div class="image">
                                                                                                              <img src="images/bebe.jpeg" width="180px">
                                                                                                              <h1 class="title2">Title de l'article</h1>
                                                                                                      </div>
                                                                                                      <div>
                                                                                                      <p class="text1">e-commerce allow you to make some quick trafics online without many probleme e-commerce allow you to make some quick trafics online without many probleme</p>
                                                                                                              </div>
                                                                                                              <a href="">
                                                                                                              <div class="detail">
                                                                                                                      <i class="i">Details</i>
                                                                                                              </div></a>
                                                                                                          </div>
                                                                                                          </div>


<% include footer.ejs %>