<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quick Credit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="landing">
    <section class="hero">
        <!-- <nav class="navbar">
            <div class="nav-container"> 
            </div>
        </nav> -->
        <section class="row m-40">
            <div class="mx-auto">
                    <div class="tx-c my-1">
                            <a href="index.ejs">
                                    <img src="./img/deal.svg" class="img-logo" alt="">
                            </a>
                    </div>
                <div class="form-content shadow-1 auto">
                    <form action="/repayment" method="post">
                        <div class="form-header ">
                            <h2 class="text-center m-0"> Repayment</h2>
                        </div>
                        <label for="ArticleId">Account Id</label>
                        <input type="ArticleId" name="ArticleId" placeholder="">
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" placeholder="">
                        <button class="primary-btn" type="submit">
                            SUBMIT
                        </button>
                        
                    </form>
                </div>

            </div>
            </div>
        </section>
    </section>
</body>

</html>